@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');

:root {
  --primary: #189ab4;
  --secondary: #d4f1f4;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: black;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  padding-top: 4vh;
  background-color: var(--primary);
}

.container-md {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}

.nav-links {
  width: 40%;
}

.nav-links ul {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.link {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 20px;
}

.link:hover {
  background-color: var(--secondary);
  transition: background-color 300ms ease-in;
}

.brand-text {
  font-size: 22px;
  font-family: 'Playfair Display', serif;
}

.products {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.products-header {
  text-align: center;
  margin-top: 4vh;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 4vh;
}

.container-md-grid {
  width: 80%;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 40px 20px;
}

.grid-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.grid-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
}

.bike-4-img {
  object-position: 0 90%;
}

.product-title {
  font-size: 20px;
  text-align: center;
}

.product-price {
  font-size: 16px;
  text-align: center;
}

.product-button {
  text-align: center;
  padding: 10px 20px;
  background-color: var(--primary);
  border: none;
  border-radius: 20px;
  font-weight: 400;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.add-to-cart-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 80%;
}

.item-quantity {
  width: 100px;
  height: auto;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.active-cart {
  display: none;
}

.non-active-cart {
  display: block;
}
